// VARIABLES
$color-black: #000000;
$color-red: #ff0000;
$fuente-normal: Verdana;
$fuente-titulo: Helvetica;


h1 {
  color: $color-black;
  background-color: $color-red;
  font-family: $fuente-titulo;
}

// ORDENAR LAS VARIABLES EN UN ARRAY

$colores: (
  "black": #000000,
  "red": #ff0000,
  "blue": #0000ff,
  "green": #00ff00,
  "normal": Verdana,
);

h1{
    p{
        color: map-get($colores, "green");
        background-color: map-get($colores , "blue");
        font-family: map-get($colores , "normal");
    }
}